.name {
    margin: 0;
    text-align: start;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
}

.description {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    display: flex;
    justify-content: start;
    margin-bottom: 80px;
}

.addAddress {
    display: flex;
    justify-content: space-between;
    height: 25px;
}

.addAddress>p {
    margin: 0;
}

.button {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: white;
    border: none;
    cursor: pointer;
    color: black;
    padding-inline: 6px;
}

.button:hover {
    color: black;
}