.card {
    width: max-content;  
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.description {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}

.text {
    text-align: start;
}

.head_text,
.text {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: black;
}

.text {
    color: #7F7F7F;
    font-size: 16px;
    margin-top: 10px;
}