.block {
    display: flex;
    justify-content: start;
    align-items: center;
}

.description {
    color: #3C4242;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 20px;
}

.check_box {
    width: 25px;
    padding: 0;
    height: 25px;
}