.name {
    margin: 0;
    text-align: start;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
}

.description {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    display: flex;
    justify-content: start;
    margin-bottom: 30px;
}

.inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.buttons {
    display: flex;
}

.button {
    margin: 20px 20px 0 0;
}

button {
    cursor: pointer;
}

.submit {
    border-style: none;
    background-color: #8A33FD;
    color: white;
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    border-radius: 8px;
}

.submit:hover {
    background-color: #F6F6F6;
    color: #8A33FD;
}

.reset {
    border-style: none;
    background-color: #F6F6F6;
    color: #807D7E;
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    border-radius: 8px;
}

.reset:hover {
    color: #8A33FD;
}