.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    width: 3%;
    height: 100%;
    z-index: 1;
    filter: invert();
    background-color: black;
}

.block>img {
    width: 25px;
    height: 25px;
}

.left {
    left: 0;
}

.right {
    right: 0;
}