.block {
    display: block;
    width: 263px;
    margin: 0 auto;
    transition: transform 0.3s;
}

.block:hover {
    transform: scale(0.95);
}

.image {
    align-items: start;
}

.title {
    width: 263px;
    text-align: start;
    margin: 0 auto;
    padding: 0;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    margin-top: 30px;
    font-weight: bold;
}

.title:hover {
    color: black;
}