.block {
    width: 80%;
}

.head {
    margin: 0;
    margin: 55px;
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    text-align: start;
    border-left: 5px solid #8A33FD;
    padding-left: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
}