.button_personal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #EAEAEA;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
}

.button_personal:hover {
    background-color: #8A33FD;
}

.current {
    background-color: #8A33FD;
}

.icon {
    width: 20px;
    height: 20px;
}