.button_personal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #EAEAEA;
    width: 45px;
    height: 45px;
    border-radius: 8px;
    cursor: pointer;
}

.button_personal:hover {  
    background-color: #8A33FD;
}

.button_personal:hover>img{
    filter: brightness(10);
}

a.active {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #EAEAEA;
    width: 45px;
    height: 45px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #8A33FD;
}

a.active>img{
    filter: brightness(10);
}

.icon {
    width: 20px;
    height: 20px;
}