.header {
    display: grid;
    grid-template-columns: 0.3fr 2fr 1fr 0.7fr;
    grid-template-rows: repeat(1, 110px);
    align-items: center;
    width: 80%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.header_pages {
    display: grid;
    grid-template-columns: repeat(5, 120px);
    margin: 0 auto;
}

.pages {
    color: #807D7E;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0px 0px 0px 0px;
}

.current {
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    margin: 0px 0px 0px 0px;
    color: #3C4242;
    font-weight: 700;
}

.header_personal {
    display: flex;
    justify-content: space-around;
}

.header_personal>a.active {
    background-color: #8A33FD;
}

a:hover {
    color: black;
}