.block {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.greetings {
    margin: 0;
    text-align: start;
    border-left: solid 5px #8A33FD;
    padding-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
}

.description {
    color: #807D7E;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    justify-content: start;
}