.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 1920px;
  margin: 0 auto;
}

.header {
  position: relative;
  width: 80%;
}

.body {
  
}

.footer {
  width: 100%;
}

::-webkit-scrollbar {
  width: 0;
}